<!DOCTYPE html>
<html lang="en">
    <head>
        <meta chaeset = "UTF-8">
        <tittle>wather api</tittle></head>
    <body>
        <h1>translator api</h1>
        <p>URL format:http://127.0.0.1:5000/api/v1/word </p>
        <p>URL format:http://127.0.0.1:5000/api/v1/station/date</p>
        <p>URL format:http://127.0.0.1:5000/api/v1/station</p>
        <p>URL format:http://127.0.0.1:5000/api/v1/yearly/station/year</p>

        <br/><br/>
        <p>{{data|safe}}</p>
    </body>
</html>